.home{
    /* background-color:rgba(245, 245, 245, 0.694); */
    background: linear-gradient(
      to bottom, 
      rgba(22, 22, 22, 0.356),  /* Gris al 20% */
      rgba(27, 27, 27, 0.4),  /* Gris al 40% */
      rgba(66, 48, 48, 0.219),  /* Gris al 60% */
      rgba(29, 27, 27, 0.575),  /* Gris al 80% */
      rgb(34, 34, 34)     /* Gris completo */
    );
}

.combinacion {
    display: flex;
    flex-direction: column;
    gap: 10px; 
    margin: 20px auto;
    padding: 5px;
    border-radius: 30px;
    filter: drop-shadow(0 0 10px rgba(56, 131, 228, 0.911));
}

@media (min-width: 1024px) {
    .combinacion{
        flex-direction: row;
        justify-content: center;
        align-items: center;
        
    }
     
}