.home{
    /* background-color:rgba(245, 245, 245, 0.694); */
    /* background: linear-gradient(
      to bottom, 
      rgba(94, 126, 172, 0.356),  /* Gris al 20% */
      /* rgba(6, 96, 170, 0.4),  Gris al 40% */
      /* rgba(148, 165, 241, 0.219),  Gris al 60% */
      /* rgba(12, 18, 99, 0.575),  Gris al 80% */
      /* rgb(119, 117, 245)     Gris completo */
    /* ); * */
    /* / */
    background-color:  #1e77eb65;
}

.combinacion {
    display: flex;
    flex-direction: column;
    gap: 10px; 
    margin: 40px auto;
    padding: 15px;
    border-radius: 30px;
    filter: drop-shadow(0 0 10px rgba(47, 73, 107, 0.911));
}

@media (min-width: 1024px) {
    .combinacion{
        flex-direction: row;
        justify-content: center;
        align-items: center;
        
    }
     
}