.container-trivia {
    background: linear-gradient(rgba(43, 68, 92, 0.048), rgba(95, 168, 252, 0.233)), 
                url('imagenloguin.png') no-repeat center center;
    background-size: cover;
    height: 100%;
    width: 100%;  
    margin: 0;    
    padding: 0; 
}


@media (min-width: 768px) {
    .botonAswer {
      font-size: clamp(1rem, 2vw, 1.4rem); 
      padding: 25px 40px;
    flex:  1 1 calc(35% - 10px);
    }
  
    .pregunta {
        font-size: 1.6rem; 
    }
  }