.container{
    margin: auto;
    padding: 25px;
    background-color: rgba(255, 255, 255, 0.747);
   
}
.container h1 {
    text-align: center;
}
ul li p{
    color: rgba(32, 59, 59, 0.589);
}
h2{color: var(--bs-heading-color);}
span{
    color: rgba(32, 59, 59, 0.589)
}
.politicas{
    color: rgba(50, 73, 73, 0.589);
    text-decoration: none;
}
.politicas:hover {
    transform: scale(1.1);
    color:  rgba(32, 59, 59, 0.589);
  }
