.traslucido{
  width: 100%;
  font-family: "Itim", cursive;
    font-weight: 400;
    font-style: normal;
  background-color:rgba(245, 245, 245, 0.694);
    
}
#root{
  background-image: url(./29564902.jpg);
  font-family: "Itim", cursive;
  font-weight: 400;
  font-style: normal;
}