.traslucido{
  width: 100%;
  font-family: "Itim", cursive;
    font-weight: 400;
    font-style: normal;


    
}
#root{
  /* background-image: url(./29564902.jpg); */
  /* background-color: (128, 128, 128, 0.2); */
 
  font-family: "Itim", cursive;
  font-weight: 400;
  font-style: normal;
}