.carousel_and_title{
    display:flex ;
    flex-direction: column;
    width: 100%;
    height: 100%;
    font-family: Permanent Marker, cursive;
}
.carousel{
     display: flex;
     justify-content: center;
     margin: 20px 90px;
     border: 8px solid rgba(237, 244, 37, 0.537);
     
     /* filter: drop-shadow(5px 5px 21px  #F9F477); */
 }


.carousel-indicators {
  display: none;
}

 .title_instructions{
    color: rgb(196, 91, 199);
    font-size: 40px;
    text-align: center;

 }
 @media (max-width: 1024px){
 .carousel,
 .carousel_and_title{
   width: 100%;
   align-items: center;
   
 }
 }