.container1 {
    background-color: #F9F477;
    float: left;
    text-align: center;
    padding: 5px;
    align-items: center;
    filter: drop-shadow(5px 5px 21px  #F9F477);
    width: 100%; /* Asegurar que use todo el ancho disponible */
    margin: 75px auto;
}

p {
    color: #2f2e2e;
}

.title {
    color: #ff9900;
    font-size:large;
    margin-bottom: 0.5em;
    text-align: center;
}

#lista {
    text-align: left;
    list-style: none; /* Eliminar el estilo de lista predeterminado */
    padding: 0;
}

#lista ol {
    padding: 0;
}

#lista li {
    display: flex;
    align-items: center;
    background-image: url('../imagenes/brain2.jpg');
    background-position: 10px 2px;
    background-size: 1.6rem 1.6rem;
    background-repeat: no-repeat;
    padding-left: 3rem; /* Espacio para el icono */
}

/* Medias queries para pantallas pequeñas */
@media (max-width: 768px) {
    .title {
        font-size: 1.5em; /* Ajustar el tamaño del título */
    }


    p {
        font-size: 30px; /* Reducir tamaño del texto */
    }

    #lista {
        font-size: 30px; /* Reducir tamaño del texto */
    }

    #lista li {
        font-size: 1.5rem; /* Ajustar el tamaño del texto */
        background-size: 2rem 2rem; /* Ajustar el tamaño del icono */
    }

    #lista li img {
        max-width: 2rem; /* Ajustar tamaño máximo de la imagen */
        max-height: 2rem; /* Ajustar tamaño máximo de la imagen */
        margin-right: 1rem; /* Espacio entre la imagen y el texto */
    }
}

@media (max-width: 480px) {
    .title {
        font-size: 1.2em; /* Ajustar el tamaño del título */
    }

    p {
        font-size: 20px; /* Reducir tamaño del texto */
    }

    #lista {
        font-size: 20px; /* Reducir tamaño del texto */
    }

    #lista li {
        font-size: 1rem; /* Ajustar el tamaño del texto */
        background-size: 1.5rem 1.5rem; /* Ajustar el tamaño del icono */
    }

    #lista li img {
        max-width: 1.5rem; /* Ajustar tamaño máximo de la imagen */
        max-height: 1.5rem; /* Ajustar tamaño máximo de la imagen */
        margin-right: 0.3rem; /* Espacio entre la imagen y el texto */
    }
}
