.container2 {
    text-align: center;
    border-radius: 15px;
    margin: 5px;
    padding: 5px;
}


.title1 {
justify-content: center;
    display: flex;
    text-align: center;
    
}

.title3 {
    color: #043f5aef;
    font-size: 35px;
    padding-left: 20px;
    margin-top: 25px;
    font-family: 'Permanent Marker', cursive;
    background-color: rgba(250, 235, 215, 0.103);
}

/* Media Queries para pantallas más pequeñas */
@media (max-width: 1200px) {
    .title2 {
        font-size: 60px;
    }
    .title3 {
        font-size: 40px;
    }
}

@media (max-width: 992px) {
    .container2 {
        padding-top: 100px;
    }
    .title2 {
        font-size: 30px;
    }
    .title3 {
        font-size: 35px;
    }
}

@media (max-width: 768px) {
    .container2 {
        padding-top: 80px;
    }
    .title2 {
        font-size: 40px;
    }
    .title3 {
        font-size: 30px;
    }
}

@media (max-width: 576px) {
    .container2 {
        padding-top: 60px;
        padding-left: 10px;
        padding-right: 10px;
    }
    .title2 {
        font-size: 30px;
    }
    .title3 {
        font-size: 25px;
    }
}
