.container2 {
   text-align: center;
    background-color: #F99696;
    padding-top: 150px;
    padding-bottom: 20px;
    padding-right: 20px;
    border-radius: 5px;
}
 .title2{
    color: #8bfa63;
font-size: 80px;
}

.title3{
    color: #ae63fa;
font-size: 50px;
padding-left: 20px;
}


.background {
    background-color: #D9F8FA;
}