.reseña-conteiner{
    text-align: left;
    font-size: 10px;
    padding: 0.5rem;
    display: flex;
  flex-direction: column;
  align-items: flex-start;
}
h2 {
    color: rgb(255, 255, 255);
    font-size: 15px;
    filter: drop-shadow(
        0 0 10px rgba(17, 17, 17, 0.911)
      );
}
.opinion{
 color: cornsilk;
    filter: drop-shadow(
        0 0 10px rgb(4, 76, 117)
      );
}
.mb-3{
    font-size: 10px;
}
form{
    font-size: 7px;
}
label{
    font-size: 11px;
}
