@import url('https://fonts.googleapis.com/css2?family=Jaro:opsz@6..72&family=Jersey+10&family=Luckiest+Guy&family=Permanent+Marker&display=swap');

.avatar_container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
    margin-top: 30px;
}

.card_container {
    display: flex;
    justify-content: center;
    
    box-shadow: 5px 5px 10px #07f427;
}

.card_article {
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: #90f9a7f5;
    border-radius: 5px;
    padding: 2rem 0.5rem 0.5rem;
    gap: 1rem;
    width: 250px; 
}

.card_img {
    width: 200px;
    align-self: center;
    margin: 0px 20px;
}

.card_data {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 140px; /* Altura mínima para asegurar espacio reservado */
    justify-content: center; /* Asegura que el contenido esté centrado */
}

.card_precio {
    display: flex;
    font-family: 'Permanent Marker', cursive;
    margin: 5px 70px;
    padding-bottom: 15px;
    color: #08c120;
}

.avatar_container .card_button {
    background-color: #050605f5;
    border-radius: 10px;
    border: none;
    padding:  10px 15px;
    color: white;
    margin: 10px;
}

.avatar_container .card_button:hover {
    background-color: #069e21;
}

.swiper-button-next,
.swiper-button-prev {
  color: #fff;
}

.swiper-button-next {
  right: 10px;
}

.swiper-button-prev {
  left: 10px;
}

/* avatares comprados css -------------------- */

.card_obtenido {
    color: #4CAF50; 
    font-size: 25px;
    padding: 5px 10px;
    border-radius: 5px;
    text-align: center;
    font-family: 'Permanent Marker', cursive;
  }

  /* animacion de logo de cargando */

  @keyframes loading {
    0% {
      transform: rotate(0deg);
    }
  
    100% {
      transform: rotate(360deg);
    }
  }
  
  .chargin_data_avatar{
    justify-self: center;
    margin: 30px;
    border: 6px solid #9ff372; 
    border-radius: 100%;
    border-top-color: #39b807; 
    border-bottom-color: #39b807; 
    width: 50px;
    height: 50px;
    animation: loading 1.5s infinite linear;
}


@media (max-width: 768px) {
    .avatar_container{
        flex-direction: column;
        justify-content: space-around;
        align-items: center; 

        
    }
}

      
     
      
      