.header_modal{
    background-color: #72d5f3;
    font-family: 'Permanent Marker', cursive;
}

.button_accept{
    background-color: #050605f5;
}

.button_accept:hover{
    background-color: #72d8f8;
}

.body_modal{
    font-family: "Itim", cursive;
    background-color: #eff9fbc3;

}