.top_modal {
  background-color: #f3f094;
  font-family: 'Permanent Marker', cursive;
  justify-content: center;
  padding: 15px;
}

.title_modal {
  padding-left: 40px;
  text-align: center;
}
.modal-90w {
  width: 100vw; /* Ocupa todo el ancho de la pantalla */
  max-width: none;
}

.color_bg{
  background-color: #f5d5926b;
}

.winner {
  font-size: 35px;
  background: linear-gradient(to right, hsl(44, 99%, 67%) 0, hsl(46, 90%, 76%) 10%, rgb(254, 186, 1) 20%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shine 3s infinite linear;
  text-transform: uppercase;
  background-clip: text;
  align-self: center;
  justify-content: center;
}

@keyframes shine {
  0% {
    background-position: 0;
  }
  60% {
    background-position: 600px;
  }
  100% {
    background-position: 600px;
  }
}

.all_results {
  display: flex;
  justify-content: space-around;
  
}

.result_container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.circle {
  width: 100%; 
  height: 100%;
}

.trivia_results {
  position: absolute;
  text-align: center;
  font-family: 'Foo', sans-serif;
  color: rgb(250, 249, 246);
  text-shadow: 2px 2px 4px rgb(221, 87, 3);
}
.info-game{
  position: absolute;
  text-align: center;
  color: rgb(250, 249, 246);
  font-family: 'Foo', sans-serif;
  text-shadow: 2px 2px 4px rgb(221, 87, 3);
}

.trivia_results {
  top: 20%; /* Ajusta según sea necesario */
  font-size: 1.2rem; /* Tamaño de texto */
}
.win-score{
  position: absolute;
  text-align: center;
  color: rgb(250, 249, 246);
  font-family: 'Foo', sans-serif;
  text-shadow: 2px 2px 4px  #5fdf58;
  
}
.win-score {
  top: 20%; /* Ajusta según sea necesario */
  font-size: 1.3rem; /* Tamaño del número */
  margin: 0;
}

.info-game {
  top: 50%; /* Ajusta según sea necesario */
  font-size: 1.9rem; /* Tamaño del número */
  margin-top: 5px;
}

.playertotalscore{
  font-family: 'Permanent Marker', cursive;
  text-align: center;
  font-size: 1rem;
  color: rgb(220, 103, 19);;
 
  
}

.principal_button {
  display: flex;
  justify-content: center;
  height: 80px;
  font-family: 'Foo', sans-serif;
  margin-top: 15px;
}

.other_buttons {
  display: flex;
  justify-content: space-around;
  margin: 20px 20px;
  font-family: 'Foo', sans-serif;
  
}

/* .winner {
  font-family: 'Permanent Marker', cursive;
  text-align: center;
  font-size: 30px;
  color: #5fdf58;
} */

.cerebrito-win {
  align-self: center;
  max-width: 100%;
  animation: rotar 8s linear infinite;
}
.score{
  font-family: 'Permanent Marker', cursive;
  text-align: center;
  font-size: 30px;
  color: rgb(231, 141, 76)
}

.btn1 {
  background-color: rgb(29, 29, 29);;
  animation: heartbeat 1.5s ease-in-out infinite;
}

.btn1:hover {
  background-color: #5fdf58
}

.btn2 {
  background-color: rgb(220, 103, 19);
  border-color: rgb(221, 87, 3)
}

.btn2:hover {
  background-color:  rgb(254, 186, 1);
}

@media (max-width: 432px) {
  .circle{
    max-width: 60%;
  }
  
  .title_shine {
    font-size: 24px; 
    
  }

  .winner {
    font-size: 24px; 
  }

  .all_results {
    flex-direction: column; 
    align-items: center; 
  }

  .result_container {
    width: 80%; 
    margin-bottom: 20px; 
  }
  .trivia_results {
    top: 20%; /* Ajusta según sea necesario */
    font-size: 1.3rem; /* Tamaño de texto */
  }
  
  .info-game {
    top: 50%; /* Ajusta según sea necesario */
    font-size: 2.5rem; /* Tamaño del número */
    margin: 0;
  }
  .win-score {
    font-size: 1.5rem; /* Tamaño del número */
    margin: 0;
  }
  .other_buttons {
    flex-direction: column;
    align-items: center; 
  }

  .btn2 {
    margin-top: 10px; 
}
}

