@keyframes rotate-animation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  .rotate-infinitely{
    max-width: 20%;
    max-height: auto;
    margin-top: 20px;
    
  }
  
  .rotate-infinitely {
    animation: rotate-animation 9s linear infinite;
  }
 
  
  