.btn{
    border: none;
}
.btn-grad {
    background-image: linear-gradient(to right, #276e90, #21385a) ;
    border: none;
    outline: none;
    border-radius: 10px;
    color: white;
    padding: 15px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.btn-grad:hover {
    background-image: linear-gradient(to right,#21385a ,  #276e90 );
    border: none; 
}
