@import url('https://fonts.googleapis.com/css2?family=Jaro:opsz@6..72&family=Jersey+10&family=Luckiest+Guy&family=Permanent+Marker&display=swap');

.questionContainer{
    display:flex;
    text-align: center;
    justify-content: center;
    align-items: center;
      }
    

.question{ 
    text-align: center;
    background-color: #338de294;
    border-radius: 10px;
    border-width: 3px;
    border-style: solid;
    border-color: #1035F9;
    width:70% ;
}

.question p {
    margin: 50px;
    font-family: "Permanent Marker";
    color: #FFFFFF;
    
}

@media (max-width: 768px) {
    .questionContainer{
        flex-direction: column;
        justify-content: center;
        align-items: center; 
    }
    
}