@import url('https://fonts.googleapis.com/css2?family=Jaro:opsz@6..72&family=Jersey+10&family=Luckiest+Guy&family=Permanent+Marker&display=swap');

    .answersContainer{
    margin: 0px 50px ;
    display: flex;
    flex-wrap: wrap;
    
    /* gap: 10px; */
}

.answers{ 
    text-align: center;
    background-color: #5DB1FF;
    margin: 10px;
    flex: 1 1 calc(40% - 10px);
    padding: 10px;
    margin: 30px;
   
}

.answersContainer p{
    margin: 50px;
    font-family: "Permanent Marker";
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh
}
/* @media (max-width: 968px) {
    .answersContainer{
        max-width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;  */
    
    .opciones{
        font-size: 40px;
        display: inline-block;
        flex: 2;
        margin: 13px;
        padding: 10px;
        background-color :#9fc6ebb4;
        width: 50%;
        display: flex;
    }

    .questionContainer{
   
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  align-items: center;
  border-radius: 15px;
  padding-top: 12px;
}

    .pregunta{
        margin-top: 3px;
      display: flex;
        color: #273f57;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        font-size:50px;
       text-align: center;
       text-shadow: 6px 6px 8px rgba(241, 242, 245, 0.936);
      background-color: rgba(3, 94, 97, 0.062);
      padding: 1.2rem;
        border-radius: 13px;
        background-color: rgba(63, 211, 203, 0.041);
       
      
       
             
    }
    .botonContainer {
        display: ruby;
        justify-content: space-around;
       align-items: stretch;
        flex-wrap: wrap;
        justify-content: center;
        box-shadow: 0 15px 10px;
        gap: 10px;
        background-color: rgba(48, 247, 237, 0.048);
        padding: 40px;
        text-shadow: 6px 6px 8px rgb(171, 193, 233);
        border-radius: 20px;
        display: flex;
      }


    
    .correct{
        color: aliceblue;
        background-color: green;
        transition: all 0.2s ease;
    }
    

      
    .incorrect{
        color: aliceblue;
        background-color: rgb(252, 63, 6);
    }
    .botonAswer{
        min-width: 450px;
        text-align:center;
         flex: 1;
        
        display: block;
        align-items: center;
        line-height: 30px;
        padding:30px;
        margin: 30px;
        font-size: 45px;
        cursor: pointer;
        border: none;
        border-radius: 15px;
        transition: background-color 0.3s;
        box-shadow: 0 15px 10px 7px;
        /* max-width: 200px;
        max-height: 150px; */
       

    }
    .botonAswer:hover {
        color: #ffffff;
        transform: scale(1.1);
        outline: 2px solid #253b3f8e;
        box-shadow: 1px 1px 7px  #268391;
        border-radius: 10px;
      }
      
      .botonAswer::before {
        color: #FFFFFF;
        content: "";
        position: absolute;
        left: -2px;
        top: 0;
        width: 0;
        height: 100%;
        background-color:#0dcaf059;
        transform: skewX(1deg);
        z-index: -3;
        transition: width 1000ms;
      }
      
      .botonAswer:hover::before {
        width: 100%;
      }
   