@import url('https://fonts.googleapis.com/css2?family=Jaro:opsz@6..72&family=Jersey+10&family=Luckiest+Guy&family=Permanent+Marker&display=swap');

.answersContainer {
  margin: 0px 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center; 
}

.answers {
  text-align: center;
  background-color: #5DB1FF;
  margin: 10px;
  flex: 1 1 calc(40% - 20px); 
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
}

.answersContainer p {
  margin: 20px;
  font-family: "Permanent Marker";
  color: #FFFFFF;
  text-align: center;
}


.questionContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  border-radius: 15px;
  padding-top: 12px;
 border-color: #0dcaf059;
}

.pregunta {
  margin-top: 3px;
  color: #000000;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: clamp(1.8rem, 2.8vw, 2.5rem);
  text-align: center;
  border: #0dcaf059 solid 3px;
  background-color: rgba(7, 39, 38, 0.041);
  padding: 1.1rem;
  border-radius: 13px;
  text-shadow: 2px 0 0  #0dcaf059, -2px 0 0  #0dcaf059, 0 2px 0  #0dcaf059, 0 -2px 0  #0dcaf059, 1px 1px #fcfdfd59, -1px -1px 0  #0dcaf059, 1px -1px 0  #0dcaf059, -1px 1px 0  #f5f6f759;
               
  white-space: normal; 
  overflow: hidden; 
  
}

.botonContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-size: clamp(1rem, 2vw, 1.5rem);
  gap: 10px;
  background-color: rgba(6, 29, 44, 0.164);
  padding: 10px;
  border-radius: 20px;
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
 
}

.correct {
  color: aliceblue;
  background-color: green;
  transition: all 0.2s ease;
}

.incorrect {
  color: aliceblue;
  background-color: rgb(252, 63, 6);
}



.botonAswer {
  flex: 1 1 calc(50% - 20px); 
  text-align: center;
  display: flex;
  align-items: flex-start; 
  justify-content: center;
  padding: 10px 15px; 
  margin: 10px;
  font-size: clamp(0.7rem, 2.5vw, 1.2rem); /* Ajusta entre 0.7rem y 1.2rem */
  cursor: pointer;
  border: none;
  border-radius: 15px;
  transition: background-color 0.3s, transform 0.2s;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
  white-space: normal; 
  word-break: break-word;
  overflow-wrap: break-word; 
  overflow: hidden; 
  position: relative; 
}

.botonAswer:hover {
  color: #ffffff;
  transform: scale(1);
  outline: 2px solid #253b3f8e;
  box-shadow: 1px 1px 7px #268391;
  border-radius: 10px;
  transform: scale(1);
}


.botonAswer::before {
  color: #FFFFFF;
  content: "";
  position: absolute;
  left: -2px;
  top: 0;
  width: 0;
  height: 100%;
  background-color: #0dcaf059;
  transform: skewX(1deg);
  z-index: -1;
  transition: width 1000ms;
}

.botonAswer:hover::before {
  width: 100%;
}


@media (min-width: 768px) {
  .botonAswer {
    font-size: clamp(1rem, 2vw, 1.4rem); 
    padding: 25px 40px; 
    flex: 1 1 calc(35% - 10px); 
  }

.pregunta {
    font-size: 1.8rem; 
}
}




@media (max-width: 768px) {
  .botonContainer{
    margin-bottom: 50px;
  }
  .botonAswer {
    font-size: clamp(0.8rem, 2vw, 1.2rem); 
    padding: 15px 20px;
    margin: 10px;
  }

  .pregunta {
      font-size: 1.2rem; 
  }
}




