.modal-container {
    z-index: 1080 ; 
}
.modalSuma{
    display: flex;
    justify-content: center; 
     align-items: center;
    background: transparent;
    position: fixed;
}

.modal-container .modal-Title{
    font-size: 34px;
    color: green;
    /* font-weight: bold; */

  
}
