.timer-bar-outer {
  width: 40%;
  height: 30px;
  border-radius: 15px;
  background-color: transparent;
  position: relative;
  box-shadow: 0 0 4px aquamarine;
  transition: border-color 0.5s ease-in-out;
}

.timer-bar-container {
  width: 100%;
  height: 100%;
  background-color: #ddd;
  border-radius: 15px;
  overflow: hidden;
  position: relative;
}

.timer-bar {
  height: 100%;
  border-radius: 15px;
  transition: width 1s linear;
}

.buenTiempo {
  background-color: green;
}

.tiempoMedio {
  background-color: rgba(105, 236, 105, 0.685);
}

.tiempoLimitado {
  background-color: red;
}

.timer-bar-outer.tiempoLimitado {
  outline-width: 1px;
  outline-offset: 0;
  outline-color: rgba(250, 38, 9, 0.974);
  outline-style: solid;
  animation: animateOutline 2s ease infinite;
}


@keyframes animateOutline {
  0% {
    outline-width: 1px;
    outline-offset: 0;
    outline-color: rgba(0, 130, 206, 0);
  }

  10% {
    outline-color: rgba(206, 0, 0, 0.75);
  }

  /* The animation finishes at 50% */
  50% {
    outline-width: 7px;
    outline-offset: 0px;
    outline-color: rgba(0, 130, 206, 0);
  }

  100% {
    outline-width: 7px;
    outline-offset: 0px;
    outline-color: rgba(102, 102, 102, 0);
  }
}


