.no-style-btn:focus,
.no-style-btn:active {
  outline: none;
  box-shadow: none;
}
.no-style-btn::after {
  display: none !important;
}
.no-style-btn{
  border: none;
}
.store-btn:hover,
.no-style-btn:active,
.no-style-btn:focus{
background-color: none;
outline: none;
box-shadow: none;
}
.dropdown-menu-custom {
    min-width: auto;
    padding: 0;
    margin: 0;
   
  }
  .dropdown-menu-custom :hover{
   color: rgb(67, 100, 100);
  }
.name-user{
  color: rgb(31, 102, 114);
  font-size: 18px;
}
.name-user :hover{
color: none;
}
.puntos{
    color: rgb(22, 115, 130);
}
.partidas {
  color: rgb(38, 73, 89);
}
.resp-correctas{
  color: rgb(45, 138, 78);
}
.resp-incorrectas{
  color: rgb(195, 80, 57);
}
.ul-games{
    list-style: none;
}