.no-style-btn:focus,
.no-style-btn:active {
  outline: none;
  box-shadow: none;
}
.no-style-btn::after {
  display: none !important;
}
.no-style-btn{
  border: none;
}
.store-btn:hover,
.no-style-btn:active,
.no-style-btn:focus{
background-color: none;
outline: none;
box-shadow: none;
}
.dropdown-menu-custom {
    min-width: auto;
    padding: 0;
    margin: 0;
   
  }
  .dropdown-menu-custom :hover{
   color: rgb(55, 84, 84);
  }

  .dropdown-item-custom:focus {
    background-color: transparent !important;
    color: inherit;
}

.name-user{
  color: rgb(31, 102, 114);
  font-size: 18px;
 
}
.name-user :hover{
color: none;
}
.title-games{
  font-family: 'Foo', sans-serif;
  font-size: 25px;
  letter-spacing: 2px;
  color: aliceblue;
  justify-content: center;
}
.puntos-drop{
    color: rgb(6, 167, 192);
    font-size: 18px;
}
.partidas {
  color: rgb(17, 155, 219);
}
.resp-correctas{
  color: rgb(45, 138, 78);
}
.resp-incorrectas{
  color: rgb(195, 80, 57);
}
.ul-games{
    list-style: none;
}
.li-games{
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.more_points_button{
  margin-top: 5px;
  margin-left: 5px;
  color:rgb(5, 119, 119);
 border-radius: none;
}