.container-invitation{
  background-color: #f3b48d9f;
    display: flex;
    align-items: center;
    margin: 75px 75px;
    margin-bottom: 0px;
    border-radius: 10px; 
    filter: drop-shadow(5px 5px 21px #9a6b14);
    padding: 20px;
    padding-top: 20px;
  
}
.container-title{
  display: flex;
  align-items:first baseline;
  font-family: 'Permanent Marker';
  color: #302f2e;
  justify-content:center;
  border-radius: 10px; 
  text-align: center;
  flex-grow: 1;

}
.title2{
  display: flex;
  align-items:end;
  font-family: 'Permanent Marker';
  color: #1d1c1ad3;
  justify-content:center;
  border-radius: 10px; 
  text-align: center;
  flex-grow: 1;
  font-size: 30px;
  filter: drop-shadow(0 0 10px rgba(163, 161, 161, 0.911));
}

.invitation {
  flex: 0 0 25%; 
  min-width: 350px; 
  text-align: center; 
}
 


.logo{
  width: 100%;
  height: auto;
  max-width: 350px;
    animation: rotar 8s linear infinite;
    
}

.form h3{
    color: rgb(245, 244, 244);
    font-family: 'Foo', sans-serif;
                                                 
    font-size: 43px;
    font-weight: 50;
    -webkit-text-stroke-width: 1px ;
    -webkit-text-stroke-color:#e52a2a;
   
                                                
}


.div-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
.Modal{
    font-family: "Itim", cursive;
    background-color: #eff9fb36;
}
.modal-registrer{
    background-image: linear-gradient(to right, #7bf1fe, #80d6f0) ;
    text-align: center;
    font-family: 'Foo', sans-serif;
    font-size: 25px;
    letter-spacing: 1.5px;
    color: rgb(244, 247, 248);
    text-shadow: 2px 2px 4px rgba(15, 61, 113, 0.936);
    justify-content: center;
    align-items: center;
  
}
.modal-registrer-exit{
  background-image: linear-gradient(to right,#48d0f6 ,  #2285b3 );
  letter-spacing: 1.5px;
  color: rgb(244, 247, 248);
  text-shadow: 2px 2px 4px rgba(26, 51, 80, 0.986);
 
}
.modal-title-exit{
  font-family: 'Foo', sans-serif;
  font-size: 30px;
text-align: center;
}

.body-registrer{
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10px;
}
 .p-registrer{
  margin: 5px;
  text-align: center;
  color: #427388;
  padding: 0px 10px;
 }

 .bonus{
  color: #159ad8;
 }

 .footer-registrer{
  justify-content: center;
  padding: 10px;
 }

.modal-footer{
  border-top: none;
}

.error-message {
  position: absolute;
  text-align: center;
  left: 0;
  width: 100%;
  font-size: 0.8rem;
  color: #DC3545;
}
@media (max-width: 1078px) {
.error-message{
  font-size: 0.8rem;
}
}


.btnfos {
    background-image: linear-gradient(to right, #ff8168, #c33012); 
    border: none;
    outline: none;
    border-radius: 10px;
    display: block;
    color: white;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    width: 100%;
  }
  @media (min-width: 400px) {
    .btnfos {
      display: inline-block;
      margin-right: 2.5em;
    }
    .btnfos:nth-of-type(even) {
      margin-right: 0;
    }
  }
  @media (min-width: 600px) {
    .btnfos:nth-of-type(even) {
      margin-right: 2.5em;
    }
    .btnfos:nth-of-type(5) {
      margin-right: 0;
    }
  }
  .btnfos-5:hover {
    box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.5), 0 0 20px rgba(255, 255, 255, 0.2);
    outline-offset: 15px;
    outline-color: rgba(255, 255, 255, 0);
    text-shadow: 1px 1px 2px #427388;
  
  }

@keyframes rotar {
    from{
        transform: rotateY(180deg);
    }
    to{
        transform: rotateY(-180deg);
    }
}

@media (max-width: 768px) {
    .container-invitation{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
    }
}
