.container-invitation{
    padding:5rem 3rem;
    display: flex;
    justify-content:space-between;
    margin: 75px 10px;
    background-color: #f6ba60fa;
    filter: drop-shadow(5px 5px 21px #fa5b3b);
    border-radius: 10px; 
}

.invitation {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
 

}
.logo{
    width: 100%;
    animation: rotar 8s linear infinite;
    
}
.form{
    width: 100%;
    display: flex;
    flex-direction: column; 
   text-align: center; 
   color: rgb(60, 55, 55);
}
.form h3{
    color: whitesmoke;
}

.div-btn{
    display: flex;
    justify-content: center;
    align-items: center;
}
.Modal{
    font-family: "Itim", cursive;;
}
.modal-registrer{
    background-image: linear-gradient(to right, #7bf1fe, #80d6f0) ;
    text-align: center;
    
    
}
.modal-loguin{
    background-image: linear-gradient(to right, #7bf1fe, #42cef8) ;
}
.btn-form{
    background-image: linear-gradient(to right, rgb(238, 83, 56), #e52a2a); 
    border: none; 
    color: white; 
    padding: 20px 20px;
    font-size: 16px; 
    cursor: pointer;
    transition: background 0.3s ease-in-out;
}

.btn-form:hover {
    background-image: linear-gradient(to right,#e52a2a ,  rgb(248, 112, 88)); 
}


@keyframes rotar {
    from{
        transform: rotateY(180deg);
    }
    to{
        transform: rotateY(-180deg);
    }
}

@media (max-width: 768px) {
    .container-invitation{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
    }
}