/* 
.carousel{
   justify-content: center;
   width: 100%;
  background-color: #f1ebcb71;
   display: flex;
   position: relative;
  float: right;
  filter: drop-shadow(5px 5px 21px  #F9F477);
}
@media (max-width: 1024px){
.carousel{
  width: 100%;
  align-items: center;
  padding: 10px;
}
} */